.input-group {
  position: relative;
  display: flex;
}

.point-input {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #616161;
}

.autocomplete-container {
  position: absolute;
  top: 2rem;
  background-color: aliceblue;
  z-index: 3;
  border-radius: 5px;
}

.autocomplete-suggestion {
  border-bottom: 1px solid gray;
  padding: 1rem;
}
.autocomplete-suggestion:last-child {
  border: none;
}
.autocomplete-suggestion:hover {
  background-color: rgb(223, 240, 255);
  cursor: pointer;
}
