.sidebar-container {
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.accessibility-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.route-info {
  display: flex;
  justify-content: space-around;
}
